<style>
  .button {
    background-color: #6441a5;
    border: none;
    color: white;
    padding: 10px;
    font-family: "Roobert", "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button {
    border-radius: 4px;
  }
</style>
<a id="authorize">
    <span class="fab fa-fw fa-twitch" id="authorize"></span> Login with Twitch.tv</a>
<div id="user_data"></div>
<div id="access_token"></div>
<script src="../assets/js/twitch.js"></script>
</span>
</a>